{
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "amd": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "semi": [
      "error",
      "never"
    ],
    "strict": "error",
    "no-console": 0
  }
}