.callout {
  padding: $callout-padding;
  margin: $callout-margin;
  border-radius: $callout-border-radius;
  background-color: $callout-bg;
  color: $callout-col;
  
  @each $name, $colour in $themes {
    &.callout-#{$name} {
      border-left: $callout-border-width solid #{$colour};
    }
  }
}