.tabs[role="tablist"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  & > li {
    
    & > a {
      display: block;
      padding: $tab-padding;
      text-decoration: none;
      border: $tab-border;
      background-color: $tab-bg;
      color: $tab-col;
      box-shadow: $box-shadow;

      &[aria-selected="true"] {
        color: $tab-active-col;
        background-color: $tab-active-bg;
        box-shadow: none;
      }

      &:not([aria-selected="true"]) {
        &:focus,
        &:hover {
          color: $tab-hover-col;
          background-color: $tab-hover-bg;
        }
      }

      &:focus {
        outline: 1px dotted contrast($tab-active-bg);
        outline-offset: -3px;
      }
    }
  }

  &.tabs-horizontal {
    flex-direction: row;

    & > li {
      margin: 0 $tab-margin;

      & > a {
        border-radius: $tab-radius $tab-radius 0 0;
        border-bottom: none;
      }
    }

    &.tabs-bottom {
      & > li > a {
        border-radius: 0 0 $tab-radius $tab-radius;
        border-top: none;
        border-bottom: $tab-border;
      }
    }
  }

  &.tabs-vertical {
    flex-direction: column;

    & > li {
      margin: $tab-margin 0;

      & > a {
        border-radius: $tab-radius 0 0 $tab-radius;
        border-right: none;
      }
    }

    &.tabs-right {
      & > li > a {
        border-radius: 0 $tab-radius $tab-radius 0;
        border-left: none;
        border-right: $tab-border;
      }
    }
  }
}

.tab-panels {
  min-height: $tab-panel-min-height;
  border: $tab-panel-border;
  border-radius: $tab-panel-border-radius;
  background-color: $tab-panel-bg;

  &.tab-panels-top {
    border-top: $tab-panel-align-border;
  }
  &.tab-panels-left {
    border-left: $tab-panel-align-border;
  }
  &.tab-panels-bottom {
    border-bottom: $tab-panel-align-border;
  }
  &.tab-panels-right {
    border-right: $tab-panel-align-border;
  }

  [role="tabpanel"] {
    color: $tab-panel-col;
    padding: $tab-panel-padding;

    &[aria-hidden="true"] {
      display: none;
    }
  }
}